@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Geist", "Segoe UI", "sans-serif";
  --shadow-input: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --color-primary: oklch(0.141 0.005 285.823);
  --color-secondary: oklch(0.552 0.016 285.938);
  --color-foreground: oklch(0.985 0 0);
  --color-light-background: oklch(0.967 0.001 286.375);
  --color-light-card: oklch(100% 0 185);
  --color-light-border: oklch(0.92 0.004 286.32);
  --color-dark-background: oklch(0.145 0.005 285.823);
  --color-dark-card: oklch(16.1% 0.005 285.823);
  --color-dark-border: oklch(27.41% 0.0055 286.03);
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-light-background text-primary dark:bg-dark-background dark:text-foreground transition-colors;
  }
  input {
    @apply text-primary dark:text-foreground outline-none;
  }
  button {
    @apply outline-none cursor-pointer;
  }
  textarea::-webkit-scrollbar {
    width: 0;
  }

  input[type="radio"] {
    @apply hidden;
  }
  input[type="radio"] + label {
    @apply relative pl-7 text-sm cursor-pointer before:transition-colors after:transition-colors;
  }
  input[type="radio"] + label::before {
    @apply content-[""] absolute left-0 top-1/2 -translate-y-1/2 size-5 rounded-full shadow border border-light-border;
  }
  input[type="radio"]:checked + label::after {
    @apply content-[""] absolute left-1.25 top-1/2 -translate-y-1/2 size-2.5 rounded-full bg-primary;
  }

  input[type="checkbox"] {
    @apply hidden;
  }
  input[type="checkbox"] + label {
    @apply relative pl-7 text-sm cursor-pointer before:transition-colors after:transition-colors;
  }
  input[type="checkbox"] + label::before {
    @apply content-[""] absolute left-0 top-1/2 -translate-y-1/2 size-5 rounded shadow border border-light-border;
  }
  input[type="checkbox"]:checked + label::after {
    @apply content-[""] absolute left-1.75 top-0.75 w-1.5 h-3 rotate-45 border-b-2 border-r-2;
  }

  .scroll::-webkit-scrollbar {
    @apply size-2;
  }
  .scroll::-webkit-scrollbar-thumb {
    @apply rounded-full bg-secondary/25;
  }
  .scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary/50;
  }
  .scroll::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .scroll::-webkit-scrollbar-button,
  .scroll::-webkit-scrollbar-corner {
    @apply w-0;
  }
  .scroll-hide::-webkit-scrollbar {
    @apply size-0;
  }

  .loader {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-12 rounded-full border-5 border-y-primary dark:border-y-foreground border-x-transparent animate-[rotation_2s_linear_infinite];
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
